* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
}
nav {
  padding: 2%;
  height: 40px;
  box-shadow: -1px 7px 23px -3px rgba(0,0,0,0.45);
-webkit-box-shadow: -1px 7px 23px -3px rgba(0,0,0,0.45);
-moz-box-shadow: -1px 7px 23px -3px rgba(0,0,0,0.45);
}
nav ul {
  float: right;
  line-height: 50px;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  margin: 0 10px;
  padding: 10px 20px;
  color: #222;
  font-size: 25px;
  transition: ease-in 0.5;
  text-decoration: none;
  border: 1px solid #142f43;
}
nav ul li a:hover {
  background-color: #142f43;
  color: #fefefe;
}

.cyducktitle {
  float: left;
  font-size: 3rem;
  line-height: 50px;
}
.cyducktitle p {
  color: rgb(235, 235, 14);
}
.cyducktitle .logo {
  color: #142f43;
}
.checkbtn {
  font-size: 30px;
  cursor: pointer;
  color: #222;
  float: right;
  display: none;
  margin-right: 25px;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .cyducktitle {
    margin-left: 15px;
  }

  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 30px 10px;
    line-height: 30px;
    padding: 15px;
  }
  nav ul li a {
    font-size: 26px;
    padding-bottom: 10px;
    color: #fefefe;
    border: none;
  }
  a:hover,
  a.active {
    background-color: #fefefe;
    color: #2c3e50;
  }

  #check:checked ~ ul {
    left: 0%;
  }
}
