html {
  /* width: auto;
  height: auto; */
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.code_save {
  margin-left: 10px;
  background-color: #0088ff;
  color: white;
  border: none;
  border-radius: 4px;
  width: 60px;
  height: 26px;
}
.code_save:hover {
  background-color: #0077cc;
}

.hover_ask {
  height: 60px;
  width: 60px;
  border-radius: 500px;
  border: none;
  margin-top: 500px;

  background-color: white;
  padding: 20px;

  padding-top: 16px;
  border: 5px solid #2f3a4c;
  cursor: pointer;
  color: #000;
}
.hover_ask:hover {
  color: #000;
  text-decoration: none;
}

.hover_div {
  height: 0px;
  width: 0px;
  margin-top: 300px;
  position: fixed;
}

a {
  text-decoration: none;
}

#ans_editor {
  margin-bottom: 20px;
}

.contain {
  width: auto;
  height: auto;
  padding-top: 16px;
}

.btn2 {
  width: 200px;
  height: 50px;
  background-color: #2ec1ac;
  margin: 50px;
}

.question {
  width: 200px;
  height: 100px;
}

.importcard {
  width: 1500px;
  background: transparent;
  font-size: 25px;
  padding: 10px;
  margin-left: 60px;

  border-radius: 5px;
  color: #000;
  display: block;
  position: static;

  transition: all 0.6s ease-out;
}

.send_button {
  background-color: #0088ff;
  position: relative;
  border-radius: 8px;
  width: 240px;
  height: 55px;
  border: none;
  color: white;
  z-index: 0;
  padding: 0;
  font-size: 30px;
  margin-left: 400px;
  top: 20px;
}
.send_button:hover {
  background-color: #0077cc;
  cursor: pointer;
}

.ediv {
  min-height: 120px;
}

.up_down_vote {
  position: relative;

  display: flex;
  left: 900px;
  bottom: 40px;
}

.like {
  position: relative;
  top: 15px;
  font-size: 10px;
  right: 14px;
  z-index: 200;
}

.headercard {
  /* width: 1450px; */
  width: 890px;
  height: 112.4px;
  background-color: #f6f6f6;
  font-size: 16px;
  padding: 30px;
  color: #000000;
  border: 1px solid rgba(219, 219, 219, 0.5);
  display: inline-block;
  /* position: static; */
  /* margin-left: 25px; */
  margin-top: 0px;
  /* height: 70px; */
  margin-left: 420px;
  margin-bottom: 15px;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  text-align: left;
}

.headercard:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
}
.headercard a:hover {
  text-decoration: none;
}

.itemsdiv {
  display: block;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  position: relative;
  background-color: #ffffff;
  width: 800px;
  height: auto;
  align-items: center;
  margin-left: 290px;
}
.username {
  display: inline-block;
  position: relative;
  bottom: 15px;
  left: 1100px;
  font-size: 10px;
  font-style: italic;
  color: #000;
  cursor: pointer;
  z-index: 1;
}

.username:hover {
  color: #53bcef;
  text-decoration: none;
}

.username1 {
  display: inline-block;
  position: absolute;
  /* bottom: 30px; */
  /* left: 1250px; */
  font-size: 12px;
  font-weight: lighter;
  color: rgb(129, 129, 129);
  /* font-style: italic; */
}
.date {
  font-size: 12px;
  font-weight: lighter;
  color: rgb(129, 129, 129);
  position: relative;
  margin-left: 150px;
  width: 200px;
}

.questionid {
  position: relative;
  bottom: 30px;
  left: 60px;
  color: black;
  font-size: 15px;
  font-style: italic;
}

.links {
  margin: 10px;
}

#cardbtn {
  width: 140px;
  height: 60px;
  margin: auto;
  margin-left: 27px;
  background-color: #0088ff;
  color: white;
  line-height: 1.4;
  padding: 0.75em;
  text-decoration: none;
  text-align: center;
  font-weight: 30px;
  font-size: 10px;
  border: none;
  /* padding-top: 3px; */
  border-radius: 10px;
  font-weight: 200;
  transition: transform 0.18s ease-in-out;
}

#comment_btn {
  width: 70px;
  height: 33px;
  position: absolute;
  
  left: 160px;
  /* right: 42px; */
  background-color: #2f3a4c;
  color: white;
  line-height: 0.4;
  text-decoration: none;
  text-align: center;
  font-weight: 30px;
  font-size: 19px;
  
  border-color: #fff;
  margin-top: 15px;
  font-weight: 200;
  z-index: 5;
  padding-bottom: 9px;
}
#comment_btn:hover {
  color:#2f3a4c;
  border-color: #2f3a4c;
  background-color: #fff;
}
#answer_btn {
  width: 77px;
  height: 33px;
  position: absolute;
  margin: auto;
  left: 75px;
  bottom:25px;
  margin-left: 40px;
  margin-right: 60px;
  background-color: #2f3a4c;

  color: #fff;
  line-height: 0.4;
  /* padding: 0.75em; */
  text-decoration: none;
  text-align: center;
  font-weight: 30px;
  font-size: 20px;
  border-color:#fff;

  font-weight: 200;
  z-index: 5;
}
#answer_btn:hover {
  background-color:#fff;
  color:#2f3a4c;
  border-color: #2f3a4c;

}
#quill_edit {
  position: relative;
  margin-left: 40px;
  bottom: 100px;
  margin-bottom: 20px;
  height: 0px;
}

.answer_div {
  background-color: #f8f8f8;
  width: 1199px;
  margin-left: 120px;
  position: relative;
  bottom: 114px;
  padding: 10px;
}

.bts {
  height: 0px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: #d4d1b5;
}

rect {
  fill: none;
  stroke: black;
  stroke-width: 60;
  stroke-dasharray: 422, 0;
  transition: all 0.18s linear;
}

.card-body {
  padding: 0;
}

#cardbtn:hover {
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #0077cc;
}

rect:hover {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.Ccard {
  position: relative;
  display: inline-block;
}

.code-secn {
  width: 100px;
  font-weight: 200;
  display: block;
  position: relative;
  margin-left: 0px;
  font-size: 30px;
  left: 3px;
  margin-bottom: 20px;
  margin-top: 5px;
  background: rgba(3, 22, 46, 0.52);
  border-color: #0d7e6f;
  padding-top: 0px;
  cursor: pointer;
  color: #d4d1b5;
}

.codediv {
  display: inline-block;
  position: relative;
  right: 31px;
}

.divcard {
  width: 1800px;
}

.importcard:hover {
  background-position: left bottom;
}

.c_header {
  width: 1197px;
  height: auto;
  font-size: 20px;
  color: #000;
  transition: all 0.3s ease-in-out;

  background-color: #f6f6f6;
  border-radius: 0px;
  margin-left: 50px;
}

.question {
  font-size: 10px;
  color: #d4d1b5;
  transition: all 0.6s ease-in-out;
  margin-left: 60px;
  position: relative;
  display: inline-block;
  top: 50px;
  text-decoration: underline;
}

.question:hover {
  transform: scale(1.08);
}

/* @media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto Condensed", sans-serif;
  } */

/* body {
    background-color: #000000;
  }

  .btn {
    width: 20px;
    height: 10px;
    background-color: #2ec1ac;
    margin: 5px;
  }

  .contain {
    width: auto;
    height: auto;
    position: relative;
    bottom: 50px;
  }

  .question {
    width: 80px;
    height: 30px;
  }

  h3 {
    font-size: 15px;
  }

  .Ccard {
    position: relative;
    display: inline-block;
  }

  .divcard {
    width: 800px;
  }

  .importcard:hover {
    box-shadow: 10px 10px #99a8b2;
  }

  .c_header {
    font-size: 10px;
  }
} */

/* @media (min-width: 992px) and (max-width: 1199px) {
  html {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto Condensed", sans-serif;
  }  */

/* body {
    background-color: #000000;
  }

  .btn {
    width: 50px;
    height: 20px;
    background-color: #2ec1ac;
    margin: 50px;
  }

  .contain {
    width: auto;
    height: auto;
  }

  .question {
    width: 140px;
    height: 60px;
  }

  .Ccard {
    position: relative;
    display: inline-block;
  }

  .divcard {
    width: 1400px;
  }

  .importcard:hover {
    box-shadow: 10px 10px #99a8b2;
  }

  .c_header {
    font-size: 10px;
    font-weight: 200;
  }
}

.questionelement {
  width: 1500px;
}

@keyframes example {
  from {
    height: initial;
  }

  to {
    height: fit-content;
  }
}

/* .main {
  width: 1500px;
  height: 160px;
  font-size: 20px;

  margin-left: 10px;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  position: relative;
  animation-name: example;
} */

.answerbtn {
  width: 100px;
  display: inline-block;
  position: relative;
  left: 550px;
}

.afterloginbuttons {
  display: inline-block;
  position: relative;
  left: 30px;
}

.card_img {
  width: 30px;
  height: 30px;

  position: absolute;
  left: 1135px;
  bottom: 90px;
  margin-bottom: 565px;
  z-index: auto;
}

.headercard:hover .card_img {
  position: relative;
}

.card_img1 {
  width: 30px;
  height: 30px;

  position: relative;
  left: 750px;
  bottom: 50px;
}

.searchbox {
  width: 250px;
  height: 39px;
  margin-left: 22px;
  border: double;
}
.searchInput {
  height: 33px;
  width: 210px;
  background-color: white;
  font-size: 14px;
  position: relative;
  margin-left: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: none;
  text-decoration: none;
  outline: none;
}
.searchInput:focus {
  width: 210px;
}

.searchButton {
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  background-color: white;
}

.drop_down {
  width: auto;
  height: auto;

  margin: 10px;

  display: inline-block;
  position: relative;

  font-size: 11px;
}

.dropdown-container {
  width: 140px;
  height: 40.8px;
  background-color: #2ec1ac;
}

#nav_bar span.gray {
  visibility: hidden;
}
.setedit {
  margin-left: 10px;
  color: black;
  font-size: 20px;
}

.set {
  display: inline-block;
  position: relative;
  left: 1110px;
  bottom: 30px;
}

#tf {
  width: 300px;
  padding: 10px;
}

.timer {
  display: inline-block;
  text-align: center;
  width: 25px;
  outline: 1px solid #000;
  padding: 1px;
  margin: 3px;
  box-shadow: 3px 3px black;
  font-size: 10px;

  border-color: black;
}

.divtimer {
  width: 420px;
  margin: 20px;
  display: flex;
  position: relative;
  right: 22px;
  bottom: 18px;
  margin-bottom: 0;
}

.CD {
  display: flex;
}

.frm {
  height: auto;
  position: absolute;
  padding-top: 3px;
  padding-left: 25px;
  padding-bottom: 10px;
  top: 100px;
  left: 50px;
  width: 350px;
  transform: scale(1.1);
  background-color: white;
  animation-name: searchopen;
  animation-duration: 1s;
  /* transform: translate(20px); */
}

@keyframes searchopen {
  from {
    height: 0px;
  }
  to {
    height: 689px;
  }
}

.newcode {
  position: relative;
  bottom: 717.5px;
  left: 38.5px;
}

.codeedit {
  margin-bottom: 10px;
  position: relative;
  bottom: 30px;
  color: #000;
  transition: 0.7s ease-in-out;
}

.linkshowpara {
  display: inline-block;
  margin-bottom: 20px;
}

.editpara {
  display: inline-block;
  color: #2ec1ac;
  font-size: 20px;
  margin-left: 5px;
}
.editcode {
  position: relative;
  right: 10px;
  height: 30px;
  width: 53px;
  bottom: 34px;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #0088ff;
}
.editcode:hover {
  background-color: #0077cc;
}
.form_comment {
  position: relative;
  bottom: 0px;
  height: 53px;
  left: 10px;
}
.answercomment {
  width: 1099px;
  height: 40px;
  font-size: 12px;
  border: 1px solid #dddddd;
  border-radius: 0px;
}
#comment {
  width: 1099px;
  height: 40px;
  font-size: 12px;
  border: 1px solid #dddddd;
  border-radius: 0px;
}
.comment_header {
  margin-left: 20px;
  margin-top: 13px;
}

/* .comment_div {
  background-color: #ffffff;
  width: 1102px;
  margin-top: 1px;
  margin-left: 69px;
  position: relative;
  bottom: 105px;
  border: 1px solid #dddddd;
} */
.comment_div {
  position: relative;
  bottom: 5px;
  height: auto;
}

.userprofile {
  font-family: sans-serif;
  color: black;
  font-weight: 5000px;
  font-size: 12px;
  display: inline-block;
}

.userimageprofile {
  display: inline-block;
}

.userimageprofile img {
  border-radius: 170px;
  height: 20px;
  width: 20px;
  margin: 0px;
  margin-right: 10px;
}

.commentsection {
  margin-left: 0;
  font-size: medium;
  font-style: italic;
  color: #000;
}

.displayComments {
  display: inline-block;
}
.pagination li:first-child {
  border-left: 0.1rem solid black;
}
.pagination li {
  height: 37px;
  width: 30px;
  border: 0.1rem solid #2f3a4c;
  border-left: none;
}

.pagination a {
  color: black;
  height: 37px;
  width: 50px;
  display: inline-block;
  margin-left: 9px;
  margin-top: 6px;
  font-size: 15px;
  text-decoration: none;
}

.pagination {
  margin-left: 780px;
  margin-bottom: 30px;
}

.pagination li.active {
  background-color: #f3f3f3;
}

.cardimg {
  width: 300px;
  height: 300px;
  margin: 30px;
  transition: 0.5s ease-in-out;
}

.cardimg:hover {
  transform: scale(1.1);
}

.forward {
  display: inline-block;
  position: relative;
  left: 1430px;

  background-color: transparent;
  border: none;
  z-index: 5;
}

.forback {
  display: inline-block;
  position: relative;
  left: 10px;
  background-color: transparent;
  border: none;
  z-index: 5;
}

.community_timer {
  position: relative;
  /* bottom: 25px; */
  left: 710px;
  bottom: 30px;
}

.community_timer2 {
  display: inline-block;
  position: relative;
  /* bottom: 25px; */
  left: 880px;
  bottom: 7px;
}

.vote {
  background-color: transparent;
  color: #0088ff;
  border: none;
  font-size: 14px;
  z-index: 250;
  margin-left: 142px;
  margin-top: 42px;
}
.vote:hover {
  color: #0077cc;
}

.batch {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  right: 80px;
}

.no_of_votes {
  position: relative;
  top: 50px;
  left: 30px;
  font-size: 38px;
  z-index: 250;
}
.hidetoolbar {
  width: 1200px;
  height: 39px;
  background-color: #f7f7f7;
  position: relative;
  top: 39px;
  z-index: 100;
  outline: none;
  border: none;
}

.text-editor {
  position: relative;
  bottom: 120px;
  left: 118px;
}
.text_answer-editor {
  position: relative;

  right: 10px;
}

.main_commentdiv {
  width: 1199px;
  display: inline-block;
  background-color: #f8f8f8;
  margin-left: 120px;
  position: relative;
  bottom: 120px;
}
.answer_editor {
  margin-top: 50px;
}
#titleinput {
  position: relative;
  bottom: 130px;
}
.e_comment {
  margin-left: 10px;
}
.accept {
  transform: scale(2);
  background-color: red;
  margin-left: 15px;
}
.accepted {
  transform: scale(2);
  background-color: green;
  margin-left: 15px;
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .frm {
    padding-left: 0;
    width: 280px;
  }
  .headercard {
    width: 860px;
    margin-left: 385px;
  }
  .pagination {
    margin-left: 550px;
  }
}
.loading_buffer {
  margin-left: 700px;

}

.join{
  width:5%;
  font-size:20px;
  border-color: white;
  position: absolute;
  right: 70px;
}

.join:hover{
background-color: rgb(177, 177, 177);

}