body {
  width: 1500px;
}

#nav_bar {
  background-color: #279c9c;
  /* height: 70px; */
  /* background-image: radial-gradient(rgb(122, 127, 188) 10%, rgb(128, 124, 196)) */
  height: 50px;
  width: 2740px;
  color: white;
  font-family: "Lora", serif;
}
#nav_bar div a {
  margin-top: 2px;
  top: 1px;
  padding-bottom: 12px;
}
.navlog {
  margin: 5px;
  display: inline-block;
  position: relative;

  left: 20px;
}

.navheader {
  font-size: 20px;
  color: black;
  transition: 0.3s ease-in-out;
}

.navheader:hover {
  transform: scale(1.1);
}

.CEdiv {
  width: 100%;
  height: 900px;
  margin-top: 2px;
  /* margin-top: -100px; */
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  position: relative;
  display: inline-block;
  z-index: 5;
  margin-top: 20px;
}
.drop {
  background: transparent;
  border: none;
  position: relative;
  left: 75px;
}

.username_para {
  /* color: #fefc10; */
  display: inline-block;
  color: white;
  font-size: 24px;
  position: relative;
  /* left: 655px; */
  /* margin-left: 650px; */
  top: 7px;
  margin-right: 45px;
}

.cyducktitle {
  display: inline-block;
  position: relative;
  right: 75px;
  top: 10px;
  font-size: 30px;
  font-family: "Candal", serif;
  margin-right: 30px;
}
.cyducktitle p {
  color: #fefc10;
}
.cyducktitle span {
  color: white;
}
.cyducktitlebefore {
  display: inline-block;
  position: relative;

  top: 10px;
  font-size: 100px;
}

.frm1 {
  height: 0px;
  display: inline-block;
  position: relative;
  right: 180px;
}

.dropdown {
  display: inline-block;
  position: relative;
  left: 1350px;
}
.dropdown-menu {
  padding: 0px;
}

.langpara {
  display: inline;
  position: absolute;
  z-index: 10;
  font-size: 18px;

  background-color: white;

  right: 1170px;
  top: 21px;
  font-weight: lighter;
  color: gray;
  padding-left: 1px;
  width: 50px;
}

.framepara {
  display: inline;
  position: absolute;
  z-index: 10;
  font-size: 18px;

  background-color: white;
  right: 854px;
  top: 21px;
  font-weight: lighter;
  color: gray;
  padding-left: 1px;
  width: 50px;
}

.fieldpara {
  display: inline;
  position: absolute;
  z-index: 10;
  font-size: 18px;

  background-color: white;
  right: 1009px;
  top: 21px;
  font-weight: lighter;
  color: gray;
  padding-left: 1px;
  width: 50px;
}

.langpara1 {
  display: inline;
  position: absolute;
  z-index: 10;
  font-size: 8px;

  background-color: transparent;
  right: 1196px;

  bottom: 27px;
  font-weight: lighter;
  color: gray;
}

.framepara1 {
  display: inline;
  position: absolute;
  z-index: 10;
  font-size: 8px;

  background-color: transparent;
  right: 870px;
  bottom: 27px;
  font-weight: lighter;
  color: gray;
}

.fieldpara1 {
  display: inline;
  position: absolute;
  z-index: 10;
  font-size: 8px;

  background-color: transparent;
  right: 1050px;
  bottom: 27px;
  font-weight: lighter;
  color: gray;
}

.profiletip {
  visibility: hidden;
  width: 60px;
  background-color: gray;
  color: #000;
  text-align: center;

  border-radius: 30px;

  position: absolute;
  top: 55px;
  left: 10px;
  z-index: 1;
  display: none;
}

.langtip {
  visibility: hidden;
  width: 60px;
  background-color: gray;
  color: #000;
  text-align: center;

  border-radius: 30px;

  position: absolute;

  z-index: 1;
}

.fieldtip {
  visibility: hidden;
  width: 60px;
  background-color: gray;
  color: #000;
  text-align: center;

  border-radius: 30px;

  position: absolute;

  z-index: 1;
}

.framtip {
  visibility: hidden;
  width: 60px;
  background-color: gray;
  color: #000;
  text-align: center;

  border-radius: 30px;

  position: absolute;

  z-index: 5;
  display: none;
}

.lang:focus-visible .langtip {
  display: inline-block;
  visibility: visible;
}

.profilelink:hover .profiletip {
  display: inline-block;
  visibility: visible;
}

.navitem {
  color: white;
  padding: 11px 21px 21px 11px;
  height: 50px;
  /* float: left; */
  position: relative;
  right: 50px;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
/* .navitem:active {
  background-color: #00868b;
} */

.navitem:hover {
  color: #000;
  height: 50px;
  color: white;
  text-decoration: none;
  background-color: #00868b;
}

.navitem_active {
  color: #000;
  height: 50px;
  color: white;
  text-decoration: none;
  background-color: #00868b;
}

.currentpage {
  position: absolute;
  left: 760px;
  font-size: 30px;
  border: 3px solid #000000;
  border-top: none;
  height: 45px;
  width: auto;
  justify-content: space-around;
}
